body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: #5d478b;
    border-radius: 0;
    border-bottom: 10px solid #5d478b;
}

.description{
    white-space: pre-wrap;
}

.time-block{
    text-align: center;
    border-radius: 15px;
}

.row {
    white-space: pre-wrap;
    border-top: 1px solid white;
    margin-bottom: 10px;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.hour {
    width: 10%;
    padding-left: 15px;

}

textarea {
    width: 70%;
    height: 70px;
    margin-right: 10px;
}

button {
    width: 15%;
    height: 50px;
    color: white;
}


.past {
    background-color: #d3d3d3;
}

.present {
    background-color: #5d478b;
    color: white;
}

.future {
    background-color: #b19cdf;
    color: white;
}